<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>CoClaw 需要使用麦克风来录制语音消息</string>

    <key>NSCameraUsageDescription</key>
    <string>CoClaw 需要使用摄像头来拍摄照片和视频</string>
</dict>
</plist>
